name: Build DIE-engine

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-ubuntu-24:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install qtbase5-dev qtscript5-dev qttools5-dev-tools libqt5svg5-dev qtchooser qt5-qmake build-essential -y

      - name: Build
        run: |
          bash -x build_dpkg.sh

      - name: Upload Release
        if: github.event_name != 'pull_request'
        uses: softprops/action-gh-release@v2
        with:
          tag_name: Beta
          draft: false
          prerelease: true
          files: |
            release/*.deb

  build-ubuntu-22:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install qtbase5-dev qtscript5-dev qttools5-dev-tools libqt5svg5-dev qtchooser qt5-qmake build-essential -y

      - name: Build
        run: |
          bash -x build_dpkg.sh

      - name: Upload Release
        if: github.event_name != 'pull_request'
        uses: softprops/action-gh-release@v2
        with:
          tag_name: Beta
          draft: false
          prerelease: true
          files: |
            release/*.deb

  build-arch:
    runs-on: ubuntu-latest
    container: archlinux:base-devel
    steps:
      - name: Install dependencies
        run: |
          pacman -Syu --noconfirm
          pacman -S --noconfirm qt5-base qt5-script qt5-svg qt5-tools base-devel git imagemagick

      - uses: actions/checkout@v4

      - name: Build
        run: |
          bash -x build_archpkg.sh
          rm -rf release/*debug*

      - name: Upload Release
        if: github.event_name != 'pull_request'
        uses: softprops/action-gh-release@v2
        with:
          tag_name: Beta
          draft: false
          prerelease: true
          files: |
            release/*.pkg.tar.zst
