name: BJNFNE's CI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install required libs
        run: |
          sudo apt-get update
          sudo apt-get install qtbase5-dev qtscript5-dev qttools5-dev-tools libqt5svg5-dev git build-essential -y

      - name: Clone DiE's submodules with .git suffix
        run: |
            git clone https://github.com/horsicq/DIE-engine.git
            git clone https://github.com/horsicq/Detect-It-Easy.git
            git clone https://github.com/horsicq/Formats.git
            git clone https://github.com/horsicq/SpecAbstract.git
            git clone https://github.com/horsicq/StaticScan.git
            git clone https://github.com/horsicq/XArchive.git
            git clone https://github.com/horsicq/XQwt.git
            git clone https://github.com/horsicq/XOptions.git
            git clone https://github.com/horsicq/XStyles.git
            git clone https://github.com/horsicq/XTranslation.git
            git clone https://github.com/horsicq/XDEX.git
            git clone https://github.com/horsicq/FormatDialogs.git
            git clone https://github.com/horsicq/FormatWidgets.git
            git clone https://github.com/horsicq/Controls.git
            git clone https://github.com/horsicq/XMemoryMapWidget.git
            git clone https://github.com/horsicq/XEntropyWidget.git
            git clone https://github.com/horsicq/XCapstone.git
            git clone https://github.com/horsicq/XHashWidget.git
            git clone https://github.com/horsicq/die_script.git
            git clone https://github.com/horsicq/die_widget.git
            git clone https://github.com/horsicq/nfd_widget.git
            git clone https://github.com/horsicq/archive_widget.git
            git clone https://github.com/horsicq/XMIME.git
            git clone https://github.com/horsicq/XSingleApplication.git
            git clone https://github.com/horsicq/XMIMEWidget.git
            git clone https://github.com/horsicq/XHexView.git
            git clone https://github.com/horsicq/XDisasmView.git
            git clone https://github.com/horsicq/XGithub.git
            git clone https://github.com/horsicq/XShortcuts.git
            git clone https://github.com/horsicq/XHexEdit.git
            git clone https://github.com/horsicq/signatures.git
            git clone https://github.com/horsicq/XDemangle.git
            git clone https://github.com/horsicq/XDemangleWidget.git
            git clone https://github.com/horsicq/build_tools.git
            git clone https://github.com/horsicq/XCppfilt.git
            git clone https://github.com/horsicq/XDynStructs.git
            git clone https://github.com/horsicq/XDynStructsEngine.git
            git clone https://github.com/horsicq/XDynStructsWidget.git
            git clone https://github.com/horsicq/XFileInfo.git
            git clone https://github.com/horsicq/XPDF.git
            git clone https://github.com/horsicq/XInfoDB.git
            git clone https://github.com/horsicq/XSymbolsWidget.git
            git clone https://github.com/horsicq/XOnlineTools.git
            git clone https://github.com/horsicq/XAboutWidget.git
            git clone https://github.com/horsicq/hex_templates.git
            git clone https://github.com/horsicq/XExtractorWidget.git
            git clone https://github.com/horsicq/XExtractor.git
            git clone https://github.com/horsicq/XUpdate.git
            git clone https://github.com/horsicq/XVisualizationWidget.git
            git clone https://github.com/horsicq/XDecompiler.git
            git clone https://github.com/horsicq/XYara.git
            git clone https://github.com/horsicq/yara_widget.git
            git clone https://github.com/horsicq/XDataConvertorWidget.git
            git clone https://github.com/horsicq/XScanEngine.git
            git clone https://github.com/horsicq/XDisasmCore.git
            git clone https://github.com/horsicq/XRegionsWidget.git
            git clone https://github.com/horsicq/XStaticUnpacker.git
            cd DIE-engine

      - name: Run configure
        run: |
          chmod a+x configure
          ./configure
      - name: Build DiE
        run: make -j8
       
